// Variables
$main-font: "Montserrat", sans-serif;
$main-color: #0e0707;
$accent-color: #06532f;
$accent-color-light: #bbecb4;

// Mixins
@mixin gradient-background($start, $end) {
  background-image: linear-gradient(to right, $start, $end);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text-light-effect {
  animation: lightEffect 6s infinite alternate;
}

// Extends
%text-link {
  color: $accent-color-light;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: $accent-color;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.774),
      0 0 3px rgba(255, 255, 255, 0.692);
  }
  &:active {
    color: $accent-color;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
  }
}

@import "components/inputs";
@import "components/navegation";
@import "components/products";
@import "globals/global";
@import "pages/welcome";
@import "utilities/utils";
