.input-text,
input[type=email],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to right, #06532f, #bbecb4);
  padding: 10px;
  z-index: 1000;
  gap: 12px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-end;
  padding: 0;
}

nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 2px 40px;
  border-radius: 40px;
  background-color: rgba(6, 83, 47, 0.54);
  font-weight: 540;
  color: #bbecb4;
}
nav ul li a:hover {
  background-color: #bbecb4;
  color: #0e0707;
}

@media (max-width: 666px) {
  nav ul li a {
    padding: 2px 15px;
  }
}
@media (max-width: 517px) {
  nav ul {
    overflow-x: hidden;
    height: 65px;
  }
  .title-nav {
    font-size: 22px;
  }
}
.products-section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.products-gallery article {
  background-color: rgb(5, 27, 10);
  border-radius: 15px;
  padding: 20px 8px;
}

.products-gallery .article-title {
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  color: #bbecb4;
  text-align: center;
}

.products-gallery .article-img {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-gallery img {
  max-width: 100%;
  height: 369px;
  object-fit: cover;
  margin: auto;
}

.product-display {
  margin: 5px;
}

@keyframes lightEffect {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.075), 0 0 10px rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 15px rgba(255, 255, 255, 0.075);
  }
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  height: 100%;
  color: #0e0707;
}

main {
  max-width: 1140px;
  margin: auto;
}

main > *:not(:first-child) {
  margin: 20px;
}

#main-others {
  padding-bottom: 30px;
}

header {
  height: 80px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.title-nav {
  display: flex;
  text-wrap: nowrap;
  font-size: 40px;
  background-image: linear-gradient(to right, #06532f, #bbecb4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: lightEffect 6s infinite alternate;
}

@keyframes lightEffect {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.075), 0 0 10px rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.1), 0 0 15px rgba(255, 255, 255, 0.075);
  }
}
footer {
  font-weight: bold;
  background-color: #333;
  color: #fff;
  padding: 15px;
  background-image: linear-gradient(to right, #06532f, #bbecb4);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.a-footer,
h2 {
  color: #d0f0d6;
  text-decoration: none;
  background-image: linear-gradient(to right, #06532f, #bbecb4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, text-shadow 0.3s;
}

.a-footer:link,
.a-footer:visited {
  color: #d0f0d6;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

.a-footer:hover,
.a-footer:focus {
  color: #bbecb4;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.774), 0 0 3px rgba(255, 255, 255, 0.692);
}

.a-footer:active {
  color: #06532f;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

footer .a-footer,
footer h2 {
  color: #d0f0d6;
  text-decoration: none;
  background-image: linear-gradient(to right, #06532f, #bbecb4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, text-shadow 0.3s;
}

footer .a-footer:link,
footer .a-footer:visited {
  color: #d0f0d6;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

footer .a-footer:hover,
footer .a-footer:focus {
  color: #bbecb4;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.774), 0 0 3px rgba(255, 255, 255, 0.692);
}

footer .a-footer:active {
  color: #06532f;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.6);
}

footer p {
  color: #000;
  text-decoration: none;
  background-image: linear-gradient(to right, #000, #333, #556852);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  overflow: hidden;
  transition: color 0.3s, text-shadow 0.3s;
}

footer p:link,
footer p:visited {
  color: #000;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

footer p:active {
  color: #06532f;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

footer p a {
  -webkit-text-fill-color: initial;
}

.footer-banner {
  width: 279px;
  border-radius: 50px;
}

.social-icons {
  margin-left: 1.5%;
  display: flex;
  justify-content: center;
  gap: 15px;
  order: 3;
}

.social-icon {
  position: relative;
}

.social-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s, filter 0.3s;
}

.social-icon:hover img {
  transform: scale(1.2);
  filter: brightness(130%);
}

.social-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  transition: transform 0.3s;
}

.social-icon:hover::before {
  transform: scale(1);
}

.map-container {
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 150px;
}

footer section .col:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer section .col:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

footer section .col:nth-child(3) {
  text-align: center;
  margin: auto;
}

.contact-section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.contact-section form {
  margin-top: 20px;
}

.contact-section form fieldset {
  border: none;
}

.contact-section form legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact-section form label {
  display: block;
  margin-bottom: 5px;
}

.contact-section form input,
.contact-section form textarea {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contact-section form input[type=submit] {
  background-color: #06532f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-section form input[type=submit]:hover {
  background-color: #032314;
}

.coming-soon {
  font-size: 30px;
  color: rgba(214, 3, 3, 0.78);
}

.plant-care-tips h2 {
  margin-top: 25px;
}

.plant-care-tips p {
  font-size: 25px;
}

.plant-tips {
  margin-top: 15px;
  margin-bottom: 15px;
}

.welcome-section {
  height: 100%;
  padding: 72px 0;
  width: 100%;
  background-image: url("../img/section-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  text-align: center;
  color: #bbecb4;
  font-weight: 800;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.699);
}

.welcome-img {
  width: 690px;
  margin-left: 150px;
  vertical-align: middle;
  border-radius: 50px;
}

.social-icons {
  margin-left: 1.5%;
  display: flex;
  justify-content: center;
  gap: 15px;
  order: 3;
}

.social-icon {
  position: relative;
}

.social-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s, filter 0.3s;
}

.social-icon:hover img {
  transform: scale(1.2);
  filter: brightness(130%);
}

.social-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(0);
  transition: transform 0.3s;
}

.social-icon:hover::before {
  transform: scale(1);
}

.map-container {
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
